extends layout

block content
  h1 RETO
  p Welcome to RETO, EQUIPO DE 3
  form(action='/create', method='post')
    label(for='') Enter name:
    input#name(type='text', name='name')
    br
    br
    label(for='') Enter age:
    input#age(type='number', name='age')
    br
    br
    label(for='') Enter sex:
    input#age(type='text', name='sex')
    br
    br
    input(type='submit', value='OK')
  
