extends layout

block content
  h1 RETO

  form.col-md-6(action='/create', method='post')
    label(for='') Enter name:
    input.form-control#name(type='text', name='name')
    br
    br
    label(for='') Enter age:
    input.form-control#age(type='number', name='age')
    br
    br
    label(for='') Enter sex:
    input.form-control#age(type='text', name='sex')
    br
    br
    input.btn.btn-primary(type='submit', value='OK')

  table.table.col-md-6.pull-right.table-bordered
    thead.thead-dark
      tr
        th #
        th Nombre
        th Edad
        th Sexo
    tbody
      each user in users
        tr
          th #{user._id}
          td #{user.name}
          td #{user.age}
          td #{user.sex}
